@mixin fontFace($family,$src,$style: normal,$weight: normal) {
	@font-face {
		font-family: $family;
		src: url('../fonts/woff/#{$src}.woff') format('woff'),
			url('../fonts/otf/#{$src}.otf') format('otf');
		font-style: $style;
		font-weight: $weight;
	}
}
